/node_modules
/.pnp
.pnp.js

# testing
/coverage
/public/*
# production
/build
/prod_build
/dev_build
# misc
.DS_Store
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env.development
.env.production

yarn.lock
package-lock.json
.env